@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: #2c2e30;
font-family: 'Roboto', sans-serif;
}

#player{
    height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.details{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.song_img{
    height: 240px;
    width: 240px;
    margin:10px 0px 25px 0px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
    
}

.song_name{
    font-size: 38px;
    padding: 5px;
    color: #fbf3eb9b;
    font-weight: 900;
font-family: 'Roboto', sans-serif;
    /* letter-spacing: 0.5px; */
}
.song_artist{
    font-size: 18px;
    color: #fbf3eb;
    padding-bottom: 5px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.prev_song, .play_pause, .next_song{
    padding: 25px;
    font-size: 20px;
    height: 13px;
    width: 13px;
    color: #151617;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #566d4e;
    box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}
.prev_song:hover, .play_pause:hover, .next_song:hover{
    background-color: #c1deba;
}
.slider{
    margin-top: 25px;
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #fbf3eb;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }
  .duration_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:#566353;
    cursor: pointer;
    border-radius: 50%;
  }
  .duration_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  .duration_slider{
      width: 60%;
  }
  .volume_slider{
      width: 35%;
  }
  .current_time, .total_duration{
      padding: 5px;
      color: #fbf3eb;
  }
  i.fa-volume-down,i.fa-volume-up{
      padding: 5px;
      color: #fbf3eb;
  }