body{
    background: linear-gradient(to right,green,lightgreen)
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

p{
    margin-top: -15px;
    text-align: center;
    color: black;
    
}
#calculator-box{
    height: 500px;
    width: 360px;
    background-color: rgb(241, 237, 237);
    margin: auto;
    border-radius: 15px;
    background-color: black;
    padding: 15px;
    padding-left: 30px;
}
#result{
    height: 90px;
    width: 325px;
    padding: 10px;
    border: none;
    font-weight: bold;
    outline: none;
    text-align: right;
    font-size: 30px;
    display: flex;
    word-wrap: break-word;
    background-color:black;
    border-radius: 15px;
    color:white;
}
#keyboard{
    height: 340px;
    
}
.number, .operator, .empty{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    float: left;
    border-bottom: 0;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    outline: none;
    border: none;
}
.number, .empty{
    border: none;
    outline: none
}
button:nth-child(4){
    font-size: 25px;
    border: none;
    outline: none;
    background-color: rgb(27, 170, 180);
    background-color:lightgreen;
}
button:nth-child(8){
    border: none;
    outline: none;
    font-size: 25px;
    background-color: rgb(36, 241, 129);
    background-color:lightgreen;
}
button:nth-child(12){
    border: none;
    outline: none;
    font-size: 25px;
    background-color: rgb(248, 110, 191);
    background-color:lightgreen;
}
button:nth-child(16){
    border: none;
    outline: none;
    font-size: 25px;
    background-color: rgb(152, 86, 226);
    background-color:lightgreen;
}
button:nth-child(20){
    border: none;
    outline: none;
    font-size: 25px;
    background-color: rgb(240, 162, 99);
    background-color:lightgreen;
}
.number, .operator{
    cursor: pointer;
}