body{
    box-sizing: border-box;
margin: 0;
padding:0;
background-color:black;
font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}

#layout{
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.1);
    margin: auto;
    border-radius: 15px;
    opacity: 0.75;
    padding: 10px;    
}
#logo{
    font-size: 35px;
    text-align: center;
    color:orangered;
    
}
label{
    padding: 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: white;
    display: none;
}
input{
    font-size: 25px;
    padding:2px;
    position: relative;
    left:13%;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    margin-top: 2rem;  
    color: white; 
}

#login {
    background-color:orangered;
    padding: 5px;
    font-size: 25px;
    border-radius:5px;
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color:white;
}
#login a{
    text-decoration: none;
    color: white;
}


#login:hover{
  background-color:rgb(247, 60, 60);
}

